.list-group-item {
  padding: 15px 20px;
  border: none;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.2);
}

.list-group-item span {
  line-height: 40px;
  font-size: 20px;
  min-width: 450px;
}

.list-group-item button {
  background-color: white;
  margin: 3px;
  border: none;
}

.list-group-item .fa-square-xmark {
  color: red;
}

.list-group-item .fa-square {
  color: gray;
}

.list-group-item .fa-square-check {
  color: rgb(0, 255, 0);
}

.list-group-item-label span {
  font-size: 25px;
}

.list-group-item.done .list-group-item-label,
.list-group-item.done .list-group-item-input {
  text-decoration: line-through;
  color: gray;
}
